
body html {
    background-color: #f1f4f5;

}
a{
    text-decoration: none;
    color: #aaa;
}
.container{
    width: 980px;
    margin: 0 auto;
}
.header{
    height: 73px;
}
.header-left{
    display: block;
    float: left;
}
.header .header-left img{
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
}
.header-right{
    display: block;
    float: right;
    margin-top: 25px;
}
.header-right-submit {
    float: left;
    margin: 0;
    position: relative;

}
.header-right-submit a{
    color: #48b770;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding-left: 32px;
    margin-top: -2px;
    font-size: 12px;
    font-weight: 700;
    background: url(http://a.xnimg.cn/nx/apps/login/res/st-btn1.png) no-repeat;
}
.header-right-reg {
    float: left;
    margin-left: 20px;
    position: relative
}
.header-right-reg a:hover{
    color: #227dc5;
}
.header-right-reg a,.header-right-callback a{
    height: 24px;
    line-height: 24px;
}
.header-right-callback {
    float: left;
    margin-left: 20px;
    position: relative
}
.header-right-callback a:hover{
    color: #227dc5;
}
/*.header-right-callback a{*/
    /*height: 24px;*/
    /*line-height: 24px;*/
/*}*/

.center{
    position: relative;
    width: 982px;
    height: 570px;
    margin: 0 auto;
    padding-bottom: 20px;
    z-index: 200
}

.center-left{
    width: 362px;
    height:514px;
    float: left;
    position: relative;
    background: #fff;
    border: 1px solid #cfd6de;
    box-shadow: 0 2px 2px #cfd6de;
    overflow: hidden;

}
.login-panel{
    width: 360px;
    height: 483px;
    margin-top: 26px;
}

.radium-img{
    border: 1px solid #fff;
    width: 107px;
    height: 100px;
    margin: 12px auto;
    overflow: hidden;
    position: relative;
}

.form-login{
    padding: 30px;
    width: 208px;
    height: 300px;
}
.input-text{
  box-shadow: 0 0 1px #FFF;
    border: 1px solid #c0c7cd;
    border-radius: 3px;
    padding: 1px;

}
.input-passwprd{
    margin-top: 15px;
    box-shadow: 0 0 1px #FFF;
    border: 1px solid #c0c7cd;
    border-radius: 3px;
    padding: 1px;
}
.savepassword{
    width: 300px;
    height: 50px;
    text-align: center;
}
.label-checkbox{
    float: left;
    padding-top: 10px;
}
.forgetpwd{
    padding-top: 10px;
    float: right;
}
.forgetpwd a:hover{
    color:  #227dc5;
}
.reg-and-login{
    width: 304px;
    height: 47px;
}
.reg-and-login-reg {
    height: 100%;
    border: none;
    background-color: #7fb764;

}
.reg-and-login-reg {
     width: 140px;
     height: 100%;
     border: none;
     background-color: #7fb764;
     float: left;


 }
.reg-and-login-login {
    width: 140px;
    height: 100%;
    border: none;
    background-color: #3f95d8;
    float: right;

}
.third-party-title{
    width: 360px;
    margin-top: 17px;
}
p{
    line-height: 1.4em;
}
.third-party-title .text{
    font-size: 12px;
    color: #a0a0a0;
    margin: 0 5px;
    vertical-align: middle;
}
.underscore{
    display: inline-block;
    border-bottom: solid 1px #e4e4e8;
    width: 110px;
}
.login-corp{
    width: 360px;
    height: 55px;
    padding: 0 30px;
}
.third-party-login{
    overflow: hidden;
}
.login-item{
    float: left;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 8px 6px 0;
    display: block;
    cursor: pointer;
    text-decoration: none!important;
}
.login-item.wx{
    margin-left: 15px;
    background-image: url(http://a.xnimg.cn/wap/pcLive/src/apps/common/img/wechat.png);
    background-size: 100%;
}
.login-item.qq{
    background-image: url(http://a.xnimg.cn/wap/pcLive/src/apps/common/img/qq.png);
    margin-left: 55px;
    background-size: 100%;
}
.login-item.weibo{
    background-image: url(http://a.xnimg.cn/wap/pcLive/src/apps/common/img/weibo.png);
    margin-left: 55px;
    background-size: 100%;
}
.center-right{
    float: right;
    width: 600px;
    height: 540px;
}
.center-right-advertise{
    width:550px;
    height: 360px;
}
.login-recommand{
    width: 600px;
    height:150px;
}
.login-recommand .intro{
    width: 600px;
    height:130px;
    margin: 20px auto;
}
.login-recommand .intro .item{
    width: 150px;
    height: 150px;
    float: left;
}
.intro .item a{
    display: block;
}
.intro .content{
    width: 150px;
    height: 150px;
    cursor: pointer;
}
.intro .qrcode{
    background: url(http://a.xnimg.cn/nx/apps/login/cssimg/qrcode1-t.jpg) 0 0 no-repeat;
}
.intro .phone{
    background: url(http://a.xnimg.cn/nx/apps/login/cssimg/phone1-t.jpg) 0 0 no-repeat;
}
.intro .pad{
    background: url(http://a.xnimg.cn/nx/apps/login/cssimg/pad1-t.jpg) 0 0 no-repeat;
}
.intro .other{
    background: url(http://a.xnimg.cn/nx/apps/login/cssimg/other1-t.jpg) 0 0 no-repeat;
}

