*{
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei';
    outline: none;

}
a{
    text-decoration: none;
    color: #373D41;
}
body{
    height: 880px;
}
.register-2018-header{
    height: 60px;

    position: relative;

    border-bottom: 1px solid #D7D8D9;

    *zoom: 1;

    background-color: #F1F4F5;

}

.register-2018-header-logo {
    float: left;
    position: relative;
    left: 20px;
    line-height: 88px;

}
.register-2018-header-home{
    float: right;
    position: relative;
    line-height:60px;
    right: 20px;
    height: 24px;
}
.register-2018-body{
    background-color: #F1F4F5;
    padding: 80px 0px 200px 0px;
    text-align: center;
}
.register-2018-body-container{
    position: relative;
    width: 1000px;
    background: #fff;
    margin: 0 auto;
}
.register-2018-body-container .content{
    width: 720px;
    margin: 0 auto;
    text-align: center;
}
.register-2018-body-container .content .head{
    padding-top: 40px;
    font-size: 30px;
    color: #373d41;
    letter-spacing: 1px;
    line-height: 36px;
}
.register-2018-body-container .content .tips{
    position: absolute;
    top: 43px;
    right: 40px;
    font-size: 12px;
    color: #73777a;
    letter-spacing: .4px;
    line-height: 30px;
    text-align: left;
}
.register-2018-body-container .content .tips .tips-link{
   color:  #00c1de;
    background-color: transparent;
}
.content .next-form{
    color: #373d41;
    font-family: Helvetica,Arial,Verdana,PingFang SC,Microsoft YaHei;
    font-size: 12px;
    line-height: 1.28571;
    padding-top: 20px;
    margin-left: 27%;
}
.content .next-form-item{
    height: 40px;
    margin-bottom: 20px;
    text-align:  left;
}
.content .next-form-item .code{
	width: 35%;
}
.content .next-form-item .getCode{
	display: inline-block;
	height: 96%;
	width: 27%;
	text-align:  center;
	vertical-align:  top;
	line-height: 36px;
	border: 1px solid #c3c5c6;
	cursor:  pointer;
}
.content .next-form-item input{
    color:   #373d41;
    width: 63%;
    height:100%;
    border: 1px solid #c3c5c6;
    /* margin-left: 27%; */
    padding: 0;
    font-weight: 400;
    vertical-align: baseline;
    background-color: #fff;
}
.content .next-form-item-phone{
    width: 63%;
    height: 40px;
    border: 1px solid   #c3c5c6;
    margin-bottom: 20px;
    position: relative;
}
.content .next-form-item-phone input{
    width: 270px;
    height:100%;
    border: none;
    padding: 0;
    font-weight: 400;
    vertical-align: baseline;
    background-color: #fff;
}
.next-form-item-submit{
    width: 63%;
    height: 40px;
    border: 1px solid   #c3c5c6;
    background-color:#00B7D3;
}
.next-form-item-submit input{
    line-height:36px;
    font-size: 16px;
    color: #fff;
    background-color: #00b7d3;
    border-color: transparent;
    text-decoration: none;
}
.next-form-item-receive{
    width: 63%;
    height: 40px;
    margin-top: 15px;
    line-height: 40px;
    text-align: left;
}

.next-form-item-receive span:last-child{
    float: right;
    height: 40px;
    line-height:40px;
}
.next-form-item-receive span:last-child a{
    color:#00afc9;
    display: block;
    height:100%;
    width: 100%;
    cursor: pointer;
}
